table{
border:thick double;
border-spacing: 5 em;

}

th:nth-child(1){
font-style: italic;
font-weight:normal;
}

tbody tr:nth-child(2n){
background-color:#9999ff;
}

tbody tr:nth-child(2n+1){
background-color:#99ff99;
}

table tfoot {
background-color:white;
}

tfoot:nth-child(1){
colspan:2;
}

tfoot:nth-child(2){
colspan:4;
}

thead tr:nth-child(1){
background-color:white;
}

td:nth-child(2){
color:blue;
}

td:nth-child(4){
color:red;
}

dt:hover + dd{
background-color:purple;
}