table{
border:thick double;
border-color: black;
border-spacing: 5 em;

}

th{
border: 1px solid #000000;
}

th:nth-child(1){
font-style: italic;
font-weight:normal;
}


tbody tr:nth-child(2n){
background-color:#9999ff;
}

tbody tr:nth-child(2n+1){
background-color:#99ff99;
}

table tfoot {
background-color:white;
}

tfoot:nth-child(1){
colspan:2;
}

tfoot:nth-child(2){
colspan:4;
}

thead tr:nth-child(1){
background-color:white;
}

tbody td:nth-child(2){
color:blue;
}

td:nth-child(4){
color:red;
}

td{
border: 1px solid #000000;
}

dt:hover + dd{
background-color:purple;
}

form {
border: 1px solid #000000;
}

#outer-content{
background-color:pink;
width:75%;
height: 30px;
margin-top:20px;
padding-top:10px;
}

#inner-content{
background-color:blue;
width:75%;
height: 20px;
margin-left: auto;
margin-right: auto;
}

img {
float:left;
height:125px;
width: 100px;
}
